aux_source_directory(serializer SERIALIZER_SOURCES)
aux_source_directory(api API_SOURCES)
aux_source_directory(src SRC_SOURCES)

include_directories(serializer)
include_directories(interface)
include_directories(src)

add_library(iov-{{serviceNameLowerCase}} SHARED
  ${SERIALIZER_SOURCES}
  ${API_SOURCES}
  ${SRC_SOURCES}
  {{#models}}{{#model}}
  {{classname}}.cpp
  {{/model}}{{/models}}	
  {{serviceNameCamelCase}}-lib.cpp)

target_link_libraries(iov-{{serviceNameLowerCase}}
  iovnet
  uuid)

# Specify shared library install directory

set(CMAKE_INSTALL_LIBDIR /usr/lib)

install(
    TARGETS
    iov-{{serviceNameLowerCase}}
    DESTINATION
    "${CMAKE_INSTALL_LIBDIR}"
)
